" .gvimrc configuration settings

" set colors
" vim-colors-solarized
set background=light
colorscheme solarized

" vim-indent-guides - activate by default
" http://stackoverflow.com/questions/13675902/what-line-of-code-i-could-add-to-vimrc-to-make-leaderig-command-run-when-vim-s
let g:indent_guides_enable_on_vim_startup = 1

" Open NERDTree automatically on run
" http://stackoverflow.com/questions/1447334/how-do-you-add-nerdtree-to-your-vimrc#answer-1448637
" note: added to gvimrc so it only occurs in graphic vim (not command line)
autocmd VimEnter * NERDTree
autocmd VimEnter * wincmd p
